:root {
	--color-primary: #ff941a;
	--color-primary-light: #ffc380;
	--color-secondary: #04d361;
	--color-white: #ffffff;
	--gray-700: #22343c;
	--gray-500: #30444e;
	--gray-400: #3e5764;
	--gray-300: #54707e;
	--gray-200: #96a7af;
	--color-red: #ff575f;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
