main {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	background-color: var(--gray-500);
	display: flex;
	flex-flow: row wrap;
}

footer {
	position: absolute;
	bottom: 48px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 352px;
	color: var(--gray-200);
}

footer a {
	text-decoration: none;
	color: var(--color-primary);
}

footer a:hover {
	text-decoration: underline;
}

/* mobile */
@media (max-width: 800px) {
	main {
		flex-direction: column;
		flex-basis: auto;
	}
	.w-50 {
		width: 100%;
	}

	footer {
		position: initial;
		margin-top: 2rem;
	}
}
